
    /** Lato Custom Font*/
    @font-face { src: url("../fonts/Lato-Regular.ttf");}
    .text{-fx-font-family:'Lato';}

    /** Buttons*/
	.button{-fx-border-width:1; -fx-border-color:transparent; -fx-cursor:hand; -fx-border-radius:5; -fx-font-family:"Lato", sans-serif; -fx-font-size:15; -fx-background-color:#F5F6F7; -fx-text-fill:#3A454B;}
    .button-reset{-fx-padding:0;-fx-border:0; -fx-background-color:transparent;}

	/** Textfiedls*/
	.text-field{-fx-background-color:#FFF;-fx-border-color:#AAA; -fx-border-radius:5; -fx-font-family:"Lato", sans-serif; -fx-font-size:16; -fx-text-fill:#000; }
	.text-field:focused{-fx-border-color:#067CD7;}

	/** Check-boxes*/
	.check-box{-fx-text-fill:#999;}
	.check-box .box{-fx-background-color:#FFF; -fx-border-color:#DDD; -fx-pref-width:12; -fx-pref-height:13; -fx-border-radius:2;}

	/** Accordions and title panes*/
	.accordion .titled-pane > .title {-fx-background-color: #F5F6F7;-fx-font-size:15;-fx-cursor: "hand";-fx-border-width:0;-fx-padding:12 0;}
    .titled-pane > .title > .arrow-button .arrow{-fx-effect:null;-fx-translate-x:160;}
    .titled-pane{-fx-animated:true;-fx-border-color:#F5F6F7; -fx-insets:5 0 5 0;}
    .titled-pane > *.content{-fx-border-width:0;-fx-background-color:#EEE;}
    .titled-pane:expanded{-fx-border-color:#DDD;-fx-background-color:#FFF;}

    /** Panes*/
    .scroll-pane > .viewport{-fx-background-color:#FFF;}
    .scroll-pane{-fx-background-insets:0;-fx-padding:0;}
    .scroll-pane:focused{-fx-background-insets: 0;}
    .scroll-pane .corner{-fx-background-insets:0 }

    /** Main menu*/
	.main-menu-section-label{-fx-padding:15 0 0 0;}
	.main-menu-buttons{-fx-padding:8 5; -fx-font-size:16;}
	.main-menu-subitens{-fx-font-size:14; -fx-background-color:#EEE; -fx-padding:8 8 8 18;}

	.main-menu-buttons:hover, .main-menu-subitens:hover{-fx-background-color:#DDD;}

    /** Quantify/pagination buttons*/
	.button-quantity-right{-fx-border-color:#CCC; -fx-border-radius:0 5 5 0;}
	.button-quantity-left{-fx-border-color:#CCC; -fx-border-radius:5 0 0 5;}

	/** Textos*/
	.h1, .h2, .h3, .h4{-fx-font-family:"Lato", sans-serif; -fx-text-fill:#3A454B;}
	.h1{-fx-font-size:23; -fx-font-weight:bold;}
	.h2{-fx-font-size:19;}
	.h3{-fx-font-size:16;}
	.h4{-fx-font-size:15;}
	.h2-label{-fx-font-family:"Lato", sans-serif; -fx-font-size:15; -fx-text-fill:#515F66;}

	.sale-item-quant-textfield{-fx-pref-height:28;}

	/** Pop-ups labels*/
	.sucess-confirmation{-fx-background-color:#00B285; -fx-background-radius:5;-fx-border-radius:5;}
	.sucess-confirmation .label, .sucess-confirmation .button{-fx-text-fill:#FFF; -fx-padding:5 10;}
